 <body>
  <div class="container">
    <div class="card my-5">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img style="height: 400px; width: 100%; object-fit: contain; background-color: black;" src="<%= @movie.thumbnail_url %>" class="mw-100" alt="...">
        </div>
        <div class="col-md-8 row ml-2">
          <div class="card-body">
            <h3 class="card-title mb-4"><%= @movie.title %></h3>
            <p class="card-text">評価　上映時間:<%= @movie.screening_time %>　上映日:<%= @movie.screening_date.strftime("%Y年%m月%d日") %></p>
            <p class="card-text"><%= @movie.description %></p>
          </div>
          <table class="table col-11 pl-2">
            <tbody>
              <tr>
                <th scope="row">監督</th>
                <td><%= @movie.directors.map(&:name).join('/') %></td>
              </tr>
              <tr>
                <th scope="row">出演</th>
                <td><%= @movie.performers.map(&:name).join('/') %></td>
              </tr>
              <tr>
                <th scope="row">ジャンル</th>
                <td><%= @movie.genres.map(&:name).join('/') %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <ul class="list-unstyled p-4 row border-top border-bottom">
      <li class="media col-6 mb-4">
        <a href="<%= @movie.amazon_url %>">
          <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/8a1c9488a54b096d899024477fdd4cf39fedb3e4/store/fit/64/64/8fef5edb6b0371357e973f03ea3d72d395f5b411c37ea7ee06f8804fa059/_.png>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Amazon Prime Videoで今すぐ鑑賞する</h5>
        </a>  
          </div>
      </li>
      <li class="media col-6 mb-4 ">
        <a href="<%= @movie.u_next_url %>">
          <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/4d65196d0c1678b1ff37228d932cc9b5893766f6/store/fit/64/64/ebe835891a26d1285991c648ef1a373417944c1e313cc47bce45dda18379/_.png>
          <div class="media-body">
            <h5 class="mt-0 mb-1">U-NEXTで今すぐ鑑賞する</h5>
        </a>  
        </div>
      </li>
      <li class="media col-6 mb-4">
        <a href="<%= @movie.netflix_url %>">
          <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/7e34c5651f033fdb200fb5136b8386a9ce80a8b6/store/fit/64/64/16aa6c4e0304b713193a96ccbfa3e4861fa0753bb4e5841e38121a3d0bfd/_.png>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Netflixで今すぐ鑑賞する</h5>
        </a>  
        </div>
      </li>
    </ul>
    
    <div class="row justify-content-md-center my-5">
      <div class="col-6">
        <h4>この作品が見れる映画館・レンタルビデオショップ</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d105122.46725418026!2d136.46550796670613!3d34.576915596646714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x60046ae06cb90d0b%3A0xef730b6df034638d!2z5p2-6Ziq6aeF44CB44CSNTE1LTAwMTcg5LiJ6YeN55yM5p2-6Ziq5biC5Lqs55S6IDMwMQ!3m2!1d34.5769356!2d136.5355476!4m0!5e0!3m2!1sja!2sjp!4v1611674991743!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
      </div>
    </div>
  </div>
  
  <div class="card text-center">
    <div class="card-header">
      <a href="#" class="btn btn-primary">トップへ戻る</a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>fMovie</p>
      </blockquote>
    </div>
  </div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>