<body>
  <div class="container">
    <h3 class="text-center mt-5">検索結果に関する映画</h3>
    <% @movies.each do |movie| %>
    <div class="card my-5">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img style="height: 400px; width: 100%; object-fit: contain; background-color: black;" src="<%= movie.thumbnail_url %>" class="mw-100" alt="...">
        </div>
        <div class="col-md-8 row ml-2">
          <div class="card-body">
            <h3 class="card-title mb-4"><%= movie.title %></h3>
            <p class="card-text">評価　上映時間:<%= movie.screening_time %>　上映年:<%= movie.screening_date.strftime("%Y年%m月%d日") %></p>
            <p class="card-text"><%= movie.description %></small></p>
          </div>
          <table class="table col-11 pl-2">
            <tbody>
              <tr>
                <th scope="row">監督</th>
                <td><%= movie.directors.map(&:name).join('/') %></td>
              </tr>
              <tr>
                <th scope="row">出演</th>
                <td><%= movie.performers.map(&:name).join('/') %></td>
              </tr>
              <tr>
                <th scope="row">ジャンル</th>
                <td><%= movie.genres.map(&:name).join('/') %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <% end %>
  </div>  
  <div class="card text-center">
    <div class="card-header">
      <a href="#" class="btn btn-primary">トップへ戻る</a>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>fMovie</p>
      </blockquote>
    </div>
  </div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>  