  <body>
    <div class="row justify-content-md-center mt-5">
    <div class="col-6 border p-4">
    <form>
      <div class="row justify-content-md-center pb-4">
        <h2>会員登録</h2>
      </div>  
      <div class="form-group">
        <label for="validationCustomUsername">ユーザーネーム</label>
      <div class="input-group">
        <input type="text" class="form-control" id="validationCustomUsername" placeholder="Username" aria-describedby="inputGroupPrepend" required>
        <div class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
      </div>  
      <div class="form-group">
        <label for="exampleInputEmail1">メールアドレス</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">パスワード</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">会員登録をする</button>
    </form>
    </div>
    </div>
  </body>  
  
  
  
  <div class="box">
  <div class="box-inner">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1>ログイン</h1>
      <div class="box-email">
        <%= f.label :email, "Eメール" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      
      
      <div class="box-password">
        <div class="a-row">
          <div class="column-left">
            <%= f.label :password, "パスワード" %>
          </div>
          
          <div class="column-right">
            <%= link_to "パスワードを忘れた場合", new_user_password_path %>
          </div>
          
        </div>
        <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
      
      
      <div class="box-login">
        <%= f.submit "ログイン" %>
        <div class="legal-text">
          続行することで、Hogezonの
          <%= link_to "利用規約", "#" %>
          および
          <%= link_to "プライバシー規約", "#" %>
          に同意するものとみなされます。
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="remember">
            <%= f.check_box :remember_me %>
            <%= f.label :remember, "ログインしたままにする" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <div class="box-newusr">
      <p><span>------------</span> Hogezonの新しいお客様ですか？ <span>------------</span></p>
      <%= link_to "Hogezonアカウントを作成", new_user_registration_path %>
    </div>
  </div>
</div>


<div class="field">
          <div class="form-group">
            <label for="exampleInputEmail1"><%= f.label :email, "Eメールアドレス" %></label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" <%= f.email_field :email, autofocus: true, autocomplete: "email" %>>
          </div>
        </div>
        

<div class="field">
    <div class="form-group">
        <label for="exampleInputPassword1"><%= f.label :password, "パスワード" %></label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  </div>
  
  
  <div class="actions">
    <button type="submit" class="btn btn-primary"><%= f.submit "会員登録をする" %></button>
  </div>