<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>fMovie</title>
  </head>
  
  <body>
    <div class="container">
    <div id="carouselExampleIndicators" class="carousel slide mb-5" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @random.each_with_index do |movie, i| %>
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="<%= i == 0 ? 'active' : '' %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @random.each_with_index do |movie, i| %>
          <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
            <%= link_to movie_path(movie) do %>
              <img style="height: 400px; width: 100%; object-fit: contain; background-color: black;" src="<%= movie.thumbnail_url %>" class="mw-100" alt="...">
              <div class="carousel-caption d-none d-md-block">
              </div>
            <% end %>  
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    
    <div class="card-deck">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title w-100 text-center">最近チェックした作品</h5></h5>
        </div>
        <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @desc.each_with_index do |movie, i| %>
              <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="<%= i == 0 ? 'active' : '' %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @desc.each_with_index do |movie, i| %>
            <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
              <%= link_to movie_path(movie) do %>
                <img style="height: 400px; width: 100%; object-fit: contain; background-color: black;" src="<%= movie.thumbnail_url %>" class="mw-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>      
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">オススメ・注目の作品</h5></h5>
        </div>
        <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <% @asc.each_with_index do |movie, i| %>
              <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="<%= i == 0 ? 'active' : '' %>"></li>
            <% end %>
          </ol>
          <div class="carousel-inner">
            <% @asc.each_with_index do |movie, i| %>
            <div class="carousel-item <%= i == 0 ? 'active' : '' %>">
              <%= link_to movie_path(movie) do %>
                <img style="height: 400px; width: 100%; object-fit: contain; background-color: black;" src="<%= movie.thumbnail_url %>" class="mw-100" alt="...">
                <div class="carousel-caption d-none d-md-block">
                </div>
              <% end %>
            </div>
            <% end %>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>

<div class="card my-5">
  <div class="card-header">
    <h4 class="w-100 text-center">動画配信サービス</h4>
  </div>
    <ul class="list-unstyled p-4 row">
      <li class="media col-6 mb-4">
        <a href="amazon">
          <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/8a1c9488a54b096d899024477fdd4cf39fedb3e4/store/fit/64/64/8fef5edb6b0371357e973f03ea3d72d395f5b411c37ea7ee06f8804fa059/_.png>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Amazon Prime Videoで鑑賞できる作品</h5>
        </a>  
          </div>
      </li>
      <li class="media col-6 mb-4">
        <a href="netflix">
          <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/7e34c5651f033fdb200fb5136b8386a9ce80a8b6/store/fit/64/64/16aa6c4e0304b713193a96ccbfa3e4861fa0753bb4e5841e38121a3d0bfd/_.png>
          <div class="media-body">
            <h5 class="mt-0 mb-1">Netflixで鑑賞できる作品</h5>
        </a>  
        </div>
      </li>
      <li class="media col-6 mb-4 ">
        <a href="unext">
          <img class="mr-3" src=https://d2ueuvlup6lbue.cloudfront.net/attachments/4d65196d0c1678b1ff37228d932cc9b5893766f6/store/fit/64/64/ebe835891a26d1285991c648ef1a373417944c1e313cc47bce45dda18379/_.png>
          <div class="media-body">
            <h5 class="mt-0 mb-1">U-NEXTで鑑賞できる作品</h5>
        </a>  
        </div>
      </li>
    </ul>
</div>

<div class="card my-5">
  <div class="card-body row justify-content-md-center">
    <h4 class="card-title">近くの映画館・レンタルビデオショップ</h4>
  </div>
  <div class="row justify-content-md-center mb-5">
    <div class="col-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d105122.46725418026!2d136.46550796670613!3d34.576915596646714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m5!1s0x60046ae06cb90d0b%3A0xef730b6df034638d!2z5p2-6Ziq6aeF44CB44CSNTE1LTAwMTcg5LiJ6YeN55yM5p2-6Ziq5biC5Lqs55S6IDMwMQ!3m2!1d34.5769356!2d136.5355476!4m0!5e0!3m2!1sja!2sjp!4v1611674991743!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
  </div>
</div>
</div>

<div class="card text-center">
  <div class="card-header">
    <a href="#" class="btn btn-primary">トップへ戻る</a>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>映画サービス</p>
    </blockquote>
  </div>
</div>

 <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  

  
  </body>
</html>